<!DOCTYPE html>
{%load static%}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{% static 'pigs/registration.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pigs/Generalstyles.css' %}" />
    <title></title>
</head>
<body>



    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}


    <button class="login" onclick="document.getElementById('id01').style.display='block'">Login</button>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" 
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate col-s-12" method="post" action={%url 'login' %}>
      {%csrf_token %}
   
   
    <div class="container">
      <label class="label"><b>Username:</b></label>
       
      <input type="text" name="username" placeholder="Enter Username">

        <label class="label"><b>Password:</b></label>
       <input type="password" name="password" placeholder="Enter Password">

      <button type="submit">Login</button>
      <input type="checkbox" checked="checked"> Remember me
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
   
  </form>
</div>
    <script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</body>
</html>                                              