<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'pigs/Generalstyles.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'pigs/charts.css' %}" />
    <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width maximum-scale= 1.0">
     <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transluscent">
     <meta name="mobile-web-app-capable" content="yes">
    <title></title>
</head>
<body>
    <script>
        $(document).ready(function () {
           
            $('#allfeed').bind('change', function () {
                $.ajax({
                    method: "GET",
                    data: $('#allfeed').serialize(),
                    url: $('#allfeed').data('action'),
                    success: function (data) {
                        labels = data.labels
                        items = data.items
                        setchart()
                        console.log(data)

                    },
                    error: function (error_data) {
                        console.log("error")
                        console.log(error_data)
                    }
                });
                function setchart() {
                    var ctx = document.getElementById("allfeedchart").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Feed',
                                data: items,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 99, 132, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(255,99,132,1)',
                                    'rgba(255,99,132,1)',
                                    'rgba(255,99,132,1)',
                                    'rgba(255,99,132,1)',
                                ],
                                borderWidth: 1
                            },]
                        },
                        options: {
                            elements: {
                                line: {
                                    tension: 1,
                                }
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                                xAxes: [{
                                    time: {
                                        unit: 'day'
                                    }
                                }]

                            }
                        }
                    });
                }
            });

            $('#feedcostperday').bind('change', function () {
                
                $.ajax({
                    method: "GET",
                    data: $('#feedcostperday').serialize(),
                    url: $('#feedcostperday').data('action'),
                    success: function (data) {
                        feedlabels = data.labels
                        feeditems = data.items
                         for (var i = 0, len = labels.length; i < len; i++) {
                             background_colors.push(getRandomColor());
                         };
                        setfeedchart()
                        console.log(data)

                    },
                    error: function (error_data) {
                        console.log("error")
                        console.log(error_data)
                    }
                });
                function setfeedchart() {
                var ctx = document.getElementById("feedcostchart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: feedlabels,
                        datasets: [{
                            label: 'Feed',
                            data: feeditems,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(255,99,132,1)',
                                'rgba(255,99,132,1)',
                                'rgba(255,99,132,1)',
                                'rgba(255,99,132,1)',
                            ],
                            borderWidth: 1
                        },]
                    },
                    options: {
                        elements: {
                            line: {
                                tension: 1,
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                            xAxes: [{
                                time: {
                                    unit: 'day'
                                }
                            }]

                        }
                    }
                });
            }
            })

            $('#allfeed').trigger('change')
            $('#tablereport').bind('change', function () {
                $.ajax({
                    data: $('#tablereport').serialize(),
                    type: "get",
                    dataType: "html",
                    url: $('#tablereport').data('action'),
                    success: function (tabledata) {
                        $('div#reportdata').html(tabledata)
                    }
                })
            })
            $('#tablereport').trigger('change')

            $('button#print').on('click', function () {
                printData();
            })

        });
</script>    
<script language="javascript">
function PrintMe(DivID) {
var disp_setting="toolbar=yes,location=no,";
disp_setting+="directories=yes,menubar=yes,";
disp_setting+="scrollbars=yes,width=650, height=600, left=100, top=25";
   var content_vlue = document.getElementById(DivID).innerHTML;
   var docprint=window.open("","",disp_setting);
   docprint.document.open();
   docprint.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"');
   docprint.document.write('"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">');
   docprint.document.write('<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">');
   docprint.document.write('<head><title>Report</title>');
   docprint.document.write('<style type="text/css">body{ margin:20px;');
   docprint.document.write('font-family:verdana,Arial;color:#000;');
   docprint.document.write('font-family:Verdana, Geneva, sans-serif; font-size:12px;}');
   docprint.document.write('a{color:#000;text-decoration:none;} #reportdata{position:relative; top:60px;} </style>');
   docprint.document.write('</head><body onLoad="self.print()"><center>');
   docprint.document.write(content_vlue);
   docprint.document.write('</center></body></html>');
   docprint.document.close();
   docprint.focus();
}
</script>

       
        
   

    <div class="headerwitharrow">
        <div class="displaynone">
            <i class="arrow"></i>
            <h2 class="arrowh"><a class="nostyle" href="{% url 'pigs:index' %}">Home</a></h2>
        </div>
            <h1>Reports</h1>
     </div>
    <div id="debug"></div>
    <div class="charts">
    <form id="allfeed" data-action="{% url 'pigs:chart' %}" method="get">
    </form>
          
    <div class="chart col-10">
        <h3>Total Feed</h3>
        <canvas id="allfeedchart" class="col-s-10 col-m-10 col-10"></canvas>
        
    </div>
    </div>
    <div class="feedcostdiv">
     <form id="feedcostperday" data-action="{% url 'pigs:feedcostperday' %}" method="get">
            <select name="pen">
                <option selected>All</option>
                {% for i in pen %}
                <option>{{i}}</option>
                {%endfor%}
            </select>
        </form>
      
         <canvas id="feedcostchart" class="col-s-10 col-m-10 col-10"></canvas>
    </div>
    <div id="table">
        <div id="print">
            <form id="tablereport" data-action="{% url 'pigs:tablereport' %}" method="get">
            <select name="pen">
                <option selected>All</option>
                {% for i in pen %}
                <option>{{i}}</option>
                {%endfor%}
            </select>
            <select name="date">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </form>

       

        <div id="reportdata"></div>
            <script>
                    
            </script>
        </div>
        <button id="print" onclick="PrintMe('print')">Print</button>
    </div>
    <iframe id="printing-frame" name="print_frame" src="about:blank" style="display:none;"></iframe>
</body>
</html>