<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'pigs/Generalstyles.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'pigs/charts.css' %}" />
    <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width maximum-scale= 1.0">
     <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transluscent">
     <meta name="mobile-web-app-capable" content="yes">
    <title></title>
</head>
<body>
    <script>
        $(document).ready(function () {
            $('#allfeed').bind('change', function () {
                var endpoint = '/pigs/chartjs/'
                var items = []
                var labels = []

                $.ajax({
                    method: "GET",
                    data: $('#allfeed').serialize(),
                    url: endpoint,
                    success: function (data) {
                        labels = data.labels
                        items = data.items
                        items2 = data.items2
                        setchart()
                        
                    },
                    error: function (error_data) {
                        console.log("error")
                        console.log(error_data)
                    }
                });

                function setchart() {
                    var ctx = document.getElementById("allfeedchart").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Feed',
                                data: items2,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 99, 132, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(255,99,132,1)',
                                    'rgba(255,99,132,1)',
                                    'rgba(255,99,132,1)',
                                    'rgba(255,99,132,1)',
                                ],
                                borderWidth: 1
                            },]
                        },
                        options: {
                            elements: {
                                line: {
                                    tension: 1,
                                }
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                                xAxes: [{
                                     time: {
                                        unit: 'day'
                                     }
                                }]

                            }
                        }
                    });
                }
            });
        $('#allfeed').trigger('change')
        })
    </script>

    <div class="headerwitharrow">
        <div class="displaynone">
            <i class="arrow"></i>
            <h2 class="arrowh"><a class="nostyle" href="{% url 'pigs:index' %}">Home</a></h2>
        </div>
            <h1>Reports</h1>
     </div>
    <div class="charts">
    <form id="allfeed" action="{% url 'pigs:chart' %}" method="get">
    </form>
    <div class="chart col-10" url-endpoint="{% url 'pigs:chart' %}">
        <h3>Total Feed</h3>
        <canvas id="allfeedchart" class="col-s-10 col-m-10 col-10"></canvas>
    </div>
    </div>
    <div class="tables">
        
    </div>
</body>
</html>