<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pigs/indexviewstyles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'pigs/Generalstyles.css' %}" />

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transluscent">
     <meta name="mobile-web-app-capable" content="yes">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>

    <script>
        $( document ).on("click","a",
             function( event ){
                event.preventDefault();
                var url = $( event.target ).attr( "href" );
                if (url === undefined) {
                     location.href = $( event.target ).parent().attr( "href" );
                }
                else {
                    location.href = url
                }
             }
    );
</script>
    <title>Home</title>
</head>
<body>
    <div class="headerhide"></div>
    <div class="header">
        <h1>The Pig Farm</h1>
        <ul>
        <li class="feederpigs"><a class="nostyle stay" href="#Feeders" onclick="testFunc(this)">Feeders</a></li>
        <li><a class="nostyle stay" href="#Sows" onclick="testFunc(this)">Sows</a></li>
        <li><a class="nostyle stay" href="{% url 'pigs:shippedpigs' %}">Shipped</a></li>
        <li><a class="nostyle stay" href="{% url 'pigs:chartjs' %}">Reports</a></li>
        <li><a class="nostyle stay" href="{% url 'pigs:rations' %}">Rations</a></li>
        </ul>
    </div>
        <div class="scroll"></div>
        <div class="containers" id="Feeders">
       
        {% for pen in pigpen_list %}

        <a class="pens" href="{% url 'pigs:pen' pen %}">
            
                <h4>{{pen}}</h4>
                {% for pig in pen.pigsinpen_set.all %}
                {% if forloop.last %}
                <h4>Pigs in pen: {{pig.pigs}} </h4>
                {%endif%}
                {%empty%}
                <h4>Pigs in pen: 0</h4>
                {%endfor%}
            
        </a>
            
        {%endfor%}
       </div> 

       <div class="containers" id="Sows">
           {% for sow in sows %}
                <a class="pens" href="{% url 'pigs:sow' sow.sow_id %}" >
                    <h4>{{sow.sow_id}}</h4>
                </a>
           {% endfor %}
       </div>
      <script>
    function testFunc(item) {
        var divs = document.getElementsByClassName("containers");
        for (var i = 0; i < divs.length; i++) {
            divs[i].style.display = 'none';
        }
        var myDiv = item.href;
        var target = myDiv.split("#");
        document.getElementById(target[1]).style.display = "block";
        
    }
          function disable(item) {
              
              location.href = item.href;
          }
    
</script>




</body>
</html>