<!DOCTYPE html>

{% load static %}
{% load appfilters %}
<link rel="stylesheet" type="text/css" href="{% static 'pigs/penviewstyles.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'pigs/Generalstyles.css' %}" />
<script src="{% static 'pigs/sorttable.js' %}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
<script>
        // Trigger action when the contexmenu is about to be shown
$(document).on("contextmenu", '#rightclick', function (event) {
        // Avoid the real one
        event.preventDefault();

        // Show contextmenu
        $(".custom-menu").finish().toggle(100).

        // In the right position (the mouse)
        css({
            top: event.pageY + "px",
            right: 10 + "px"
        });

});


// If the document is clicked somewhere
$(document).bind("mousedown", function (e) {

    // If the clicked element is not the menu
    if (!$(e.target).parents(".custom-menu").length > 0) {

        // Hide it
        $(".custom-menu").hide(100);
    }
});

</script>
<script type="text/javascript">
/*
 Longclick Event
 Copyright (c) 2010 Petr Vostrel (http://petr.vostrel.cz/)
 Dual licensed under the MIT (MIT-LICENSE.txt)
 and GPL (GPL-LICENSE.txt) licenses.

 Version: 0.3.2
 Updated: 2010-06-22
*/
(function(a){function n(b){a.each("touchstart touchmove touchend touchcancel".split(/ /),function(d,e){b.addEventListener(e,function(){a(b).trigger(e)},false)});return a(b)}function j(b){function d(){a(e).data(h,true);b.type=f;jQuery.event.handle.apply(e,o)}if(!a(this).data(g)){var e=this,o=arguments;a(this).data(h,false).data(g,setTimeout(d,a(this).data(i)||a.longclick.duration))}}function k(){a(this).data(g,clearTimeout(a(this).data(g))||null)}function l(b){if(a(this).data(h))return b.stopImmediatePropagation()||
false}var p=a.fn.click;a.fn.click=function(b,d){if(!d)return p.apply(this,arguments);return a(this).data(i,b||null).bind(f,d)};a.fn.longclick=function(){var b=[].splice.call(arguments,0),d=b.pop();b=b.pop();var e=a(this).data(i,b||null);return d?e.click(b,d):e.trigger(f)};a.longclick={duration:500};a.event.special.longclick={setup:function(){/iphone|ipad|ipod/i.test(navigator.userAgent)?n(this).bind(q,j).bind([r,s,t].join(" "),k).bind(m,l).css({WebkitUserSelect:"none"}):a(this).bind(u,j).bind([v,
w,x,y].join(" "),k).bind(m,l)},teardown:function(){a(this).unbind(c)}};var f="longclick",c="."+f,u="mousedown"+c,m="click"+c,v="mousemove"+c,w="mouseup"+c,x="mouseout"+c,y="contextmenu"+c,q="touchstart"+c,r="touchend"+c,s="touchmove"+c,t="touchcancel"+c,i="duration"+c,g="timer"+c,h="fired"+c})(jQuery);    
</script>
<script>
    function longClickHandler(e){
  e.preventDefault();
  // Show contextmenu
        $(".custom-menu").finish().toggle(100).

        // In the right position (the mouse)
        css({
            top: event.pageY + "px",
            right: 10 + "px"
        });
}

$("#rightclick").longclick(250, longClickHandler);
    </script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Pen {{pigpen}}</title>
</head>
<body >

      <div class='custom-menu col-4 col-m-4 col-s-3'>
                <li><a class="nostyle block" href="{%url 'pigs:deadpigs' pigpen %}">1 Died</a></li>
                <li><a class="nostyle block" href="{% url 'pigs:culledpigs' pigpen %}">1 Culled</a></li>
                <li><a class="nostyle block" href="{% url 'pigs:delete' pigpen 'Pigsinpen' %}">Delete</a></li>
        </div>


    <input id="toggle" name="nav" class="displaynone-m displaynone" type="radio" />

    {% if messages %}
    <div class="messages">
        {%for m in messages %}
        <b>{{m}}</b>
        {%endfor%}
    </div>
    {%endif%}

    <!--sidebar-->
    <div class="sidebar col-4 col-m-3">
        <a class="col-3 col-m-3 nostyle" href="{%url 'pigs:pigsforpen' pigpen %}"><h1>Pigs:</h1></a>

        {% for pig in latestpigs %}


            <a class="nostyle" id="rightclick" href="{%url 'pigs:updatepigs' pigpen pig.id %}" onclick="void('ios needs this')">

                <h3>{{pig.date|date}}</h3>
                <p>Pigs: {{pig.pigs}}</p>
                <p class="sidebarp">Cost: {{pig.pig_cost_total}}</p>
                </a>
                {%if pig.notes%}
                <p class="sidebarp sidebarphover">Notes: {{pig.notes}}</p>{%endif%}


            {%empty%}
            <h3><a class="nostyle" href="{% url 'pigs:deletepig' pigpen %}">Clean out Pen?</a></h3>
            <h3><a class="nopigs" href="{% url 'pigs:addpigs' pigpen %}">Click to add pigs.</a></h3>
            {%endfor%}
        </div>

        <input id="togglein" name="nav" class="displaynone displaynone-m" type="radio" checked="checked" />

        <div class="content">
            <div class="headerhide"></div>
            <div class="header">

                <div class="dropdown">
                    <button class="headerdropbtn"><h1 id="pen">Pen {{pigpen}}</h1></button>
                    <div class="dropdown-content">
                        {% for pen in pens %}
                        <a class="nostyle" href="{% url 'pigs:pen' pen %}">Pen {{pen}}</a>
                        {%endfor%}
                    </div>
                </div>
                <div class="headerbuttons">
                    <button class="dropbtn"><a class="nostyle" href="{% url 'pigs:index' %}">Home</a></button>
                    <button class="dropbtn"><a class="nostyle" href="{% url 'pigs:addration' pigpen %}">Add Ration</a></button>
                </div>

                <label for="toggle" class="arrowdiv displaynone displaynone-m">
                    Pigs
                    <i id="arrow"></i>
                </label>
            </div>

            <table class="col-6 col-m-6 col-s-10 sortable">
                <tr>
                    <th class="col-s-3">Ration</th>
                    <th class="col-s-3">Amount</th>
                    <th class="col-m-3 col-s-3">Date</th>
                    <th class="col-s-3">Feed</th>

                </tr>

                {% for pig in pigpen.pigration_set.all %}
                <tr>
                    <td><a href="{% url 'pigs:updateration' pig.pigpen pig.id %}">{{pig.ration}}</a></td>
                    <td><a href="{% url 'pigs:updateration' pig.pigpen pig.id %}">{{pig.ration_amount}}</a></td>
                    <td><a href="{% url 'pigs:updateration' pig.pigpen pig.id %}">{{pig.date|date:'M'}} {{pig.date|date:'d'}}</a></td>
                    {% getfeed pig.ration pig.pigpen pig.pigsinapen pig.date as feed %}
                    <td><a href="{% url 'pigs:updateration' pig.pigpen pig.id %}">{{feed}}</a></td>

                </tr>
                {%endfor%}
            </table>

            <!--navigation menu-->
            <div class="navhide displaynone displaynone-m"></div>
            <div class="nav displaynone displaynone-m">
                <div class="navbutton navfirst"><a href="{% url 'pigs:index' %}" class="fa fa-home fa-2x"></a></div>
                <div class="navbutton navmiddle"><a href="{% url 'pigs:addration' pigpen %}" class="fa fa-plus-square-o fa-2x"></a></div>
            </div>

            <!--navigation menu-->
            <label for="togglein" class="overlay"></label>
        </div>



</body>
</html>