<!DOCTYPE html>
{% load static %}
{% load appfilters %}
<link rel="stylesheet" type="text/css" href="{% static 'pigs/pigsforpen.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'pigs/Generalstyles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'pigs/formstyles.css' %}" />
<script src="{% static 'pigs/sorttable.js' %}"></script>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Totals</title>
</head>
<body ontouchstart="">
    
    <div class="headerwitharrow">
        <div class="displaynone">
            <i class="arrow"></i>
            <h2 class="arrowh"><a class="nostyle" href="{% url 'pigs:pen' pigpen %}">Pen {{pigpen}}</a></h2>
        </div>
        <h1>Pigs</h1>
    </div>
    <div class="tablewrapper">
    <div class="tablescroll">
    <table class="col-s-12 col-m-10 col-9 sortable">

        <tr>
            <th class="col-s-2">Date</th>
            <th class="col-s-2 col-m-2">Pigs</th>
            <th class="col-s-3">Ration amount</th>
            <th class="col-s-2">
                Ration cost/pig
            </th>
            <th class="col-s-2">Pig cost per pig</th>
            <th class="col-s-2">Deads Culls</th>
        </tr>



        {% for pig in pigpen.pigsinpen_set.all %}


        <tr>
            <td class="col-s-2 cos-m-2 col-2">{{pig.date|date:"m/j"}}</td>
            <td class="col-m-3 col-3 col-s-2">{{pig.pigs}}</td>
            {% ration pigpen pig.id as ration %}
            <td class="overflow">{{ration}}</td>
            {% cost pigpen pig.id pig.pigs as cost %}
            <td>{{cost}}</td>

            {% divide pig.pig_cost_total pig.pigs as pigcost%}
            <td>{{pigcost}}</td>
            

            
            <td class="hovertd">
                
                <div class="hover">
                    {% totaldead pigpen pig.date %}
                </div>
                <div class="nohover">
                    {% deads pigpen pig.date %}<br />
                    {% culls pigpen pig.date %}
                </div>
               
            </td>
        </tr>
        {% if forloop.last %}
        <tr>
            <td>Total:</td>
            <td>{{pig.p}}</td>
            {% rationtotal pigpen as total%}
            <td class="overflow">{{total}}</td>
            <td>{% totalcost pigpen %}</td>
            <td>{{pig.pig_cost_total}}</td>
            <td>{% totaldead pigpen pig.date %}</td>
        </tr>
        {%endif%}
        {%endfor%}
    </table>
        </div>
        </div>
    <div class="navhide"></div>
    <nav>
        <button class="navbutton"><a class="nostyle block" href="{% url 'pigs:addpigs' pigpen %}">Add pigs</a></button>
        {% if pigpen.pigsinpen_set.exists %}
        <button class="navbutton"><a class="nostyle block" href="{% url 'pigs:movepigs' pigpen %}">Move pigs</a></button>
        <button class="navbutton"><a class="nostyle block" href="{% url 'pigs:ship' pigpen %}">Ship</a></button>
        {%else%}
        <button disabled class="navbutton">Move pigs</button>
        <button disabled class="navbutton">Ship</button>
        {%endif%}

        <button class="navbutton displaynone-s displaynone-m"><a class="nostyle block" href="{% url 'pigs:pen' pigpen %}">Back</a></button>
        </nav>
</body>
</html>