<!DOCTYPE html>
{%load static%}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
   
    <title>Add Ration</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'pigs/formstyles.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pigs/Generalstyles.css' %}" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
   
</head>
<body>
    <div class="headerwitharrow">
        <div class="displaynone">
            <i class="arrow"></i>
            <h2 class="arrowh"><a class="nostyle" href="{% url 'pigs:pen' pigpen %}">Pen {{pigpen}}</a></h2>
        </div>
    <h1>Addration</h1>
        </div>
    {% if error %}{{error}}{%endif%}
    <form method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="Save" />
        <input type="submit" value="Mix Sheet" name="list"/>
    </form>
</body>
</html>