<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="{% static 'pigs/Generalstyles.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'pigs/Rationscss.css' %}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width maximum-scale= 1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transluscent">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Rations</title>
</head>

<body>
    <script language="javascript">
function PrintMe(DivID) {
var disp_setting="toolbar=yes,location=no,";
disp_setting+="directories=yes,menubar=yes,";
disp_setting+="scrollbars=yes,width=650, height=600, left=100, top=25";
   var content_vlue = document.getElementById(DivID).innerHTML;
   var docprint=window.open("","",disp_setting);
   docprint.document.open();
   docprint.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"');
   docprint.document.write('"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">');
   docprint.document.write('<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">');
   docprint.document.write('<head><title>Rations</title>');
   docprint.document.write('<style type="text/css">body{ margin:20px;');
   docprint.document.write('font-family:verdana,Arial;color:#000;');
   docprint.document.write('font-family:Verdana, Geneva, sans-serif; font-size:16px;}');
   docprint.document.write('a{color:#000;text-decoration:none;} table{margin:50px 10px 0 10px;}table.pagebreak{page-break-after:always;}button{display:none;} </style>');
   docprint.document.write('</head><body onLoad="self.print()">');
   docprint.document.write(content_vlue);
   docprint.document.write('</body></html>');
   docprint.document.close();
   docprint.focus();
}
</script>
    <div class="headerwitharrow">
        <div class="displaynone">
            <i class="arrow"></i>
            <h2 class="arrowh"><a class="nostyle" href="{% url 'pigs:index' %}">Home</a></h2>
        </div>
            <h1>Rations</h1>
            
     </div>
    <div id="print">
        <table class="border">
    {% for instance in ration %}
        {% if forloop.counter|divisibleby:3 %}
            </table>
            <table class="border">
        {%else%}
            </table>
            <table class="border">
        {%endif%}
     {% for r,v in instance.items %}
         {% if r == 'ration_number' %}
        <tr>
            <td>Ration</td>
            <td>{{v}}</td>
        </tr>
        {% endif %}
        {%endfor%}
    {% for r,v in instance.items|dictsort:"0.lower" %}
        {% if v != 0 %}
        {% if r != "id" %}
        {% if r != 'ration_number' %}
        <tr>
            <td>{{r|capfirst}}</td>
            <td>{{v}}</td>
        </tr>
        {% endif %}
        {% endif %}
        {% endif %}
    {% endfor %}
   
    </div>
    {% endfor %}
    <button id="print" onclick="PrintMe('print')">Print</button>
    <a href="{% url 'pigs:export' %}">Export</a>
</body>
</html>