<!DOCTYPE html>
{% extends 'pigs/base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'pigs/rationviewstyles.css'%}" />    
    <link rel="stylesheet" type="text/css" href="{% static 'pigs/Generalstyles.css' %}" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('.fixedtable').bind('change', function (event) {
                $.ajax({ 
                    data: $('.rationform').serialize(), 
                    type: "get", 
                    dataType: "html",
                    url: $('.rationform').data('action'),
                    success: function(data) {
                        $('div.mixsheet').html(data)
                    }
                });
            });
        })
    </script>
   
    <div class="headerwitharrow">
        <div class="displaynone">
            <i class="arrow"></i>
            <h2 class="arrowh"><a class="nostyle" href="{% url 'pigs:pen' pigpen %}">Pen {{pigpen}}</a></h2>
        </div>
    <h1>Addration</h1>
        </div>
    <div class="formhide"></div>
    {% if error %}{{error}}{%endif%}
    <form class="rationform" data-action="{% url 'pigs:mixsheet' pigpen %}" method="post">
        {% csrf_token %}
        <table class="fixedtable">
            {{form.as_table}}
        </table>
         <nav>
        <input class="navbutton" type="submit" value="Save" />
        <button class="navbutton displaynone-m displaynone-s"><a class="nostyle block" href="{% url 'pigs:pen' pigpen %}">Back</a></button>
        </nav>
        <div class="navhide"></div>
    
        <div class="mixsheet"></div>
        <script>
            $.ajax({ 
                    data: $('.rationform').serialize(), 
                    type: "get", 
                    dataType: "html",
                    url: $('.rationform').data('action'),
                    success: function(data) {
                        $('div.mixsheet').html(data)
                    }
            })
        </script>
    </form>   
{% endblock %}
