<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pigs/Generalstyles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'pigs/shippedstyles.css' %}" />
<script src="{% static 'pigs/sorttable.js' %}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script>
$( document ).on(
    "click",
    "a",
    function( event ){
        event.preventDefault();
        location.href = $( event.target ).attr( "href" );

    }
    );
</script>
    <title></title>
</head>
<body>
     
    <div class="headerwitharrow">
        <div class="displaynone">
            <i class="arrow"></i>
            <h2 class="arrowh"><a class="nostyle" href="{% url 'pigs:index' %}">Pen {{pigpen}}</a></h2>
        </div>
        <h1>Shipped</h1>
    </div>
        <div class="tablewrapper">
         <div class="tablescroll">
             
        <table class="border sortable">
           
                <tr>
                    <th>Pigpen</th>
                    <th>Date</th>
                    <th>Pigs</th>
                    <th>Pig Cost</th>
                    <th>Sold</th>
                    <th>Ration</th>
                    <th>Ration Cost</th>
                    
                </tr>
                 {% for pig in object_list %}
               
            <tr>
                <td>{{pig.pigpen}}</td>
                <td>{{pig.shipped_date|date}}</td>
                <td>{{pig.pigs}}</td>
                <td>{{pig.pig_cost}}</td>
                <td>{{pig.sold_price}}</td>
                <td class="overflow">{{pig.ration_amount}}</td>
                <td>{{pig.pig_ration_cost}}</td>
               
            </tr>
                {%endfor%}
        </table>
            </div>
            </div>
</body>
</html>