<!DOCTYPE html>
{% load appfilters %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pigs/Generalstyles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'pigs/formstyles.css' %}" />
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width maximum-scale= 1.5">
    <title></title>
</head>
<body>
    <div class="headerwitharrow">
        <div class="displaynone">
            <i class="arrow"></i>
            <h2 class="arrowh"><a class="nostyle" href="{% url 'pigs:pen' pigpen %}">Pen {{pigpen}}</a></h2>
        </div>
      <h1>Change ration</h1>
    </div>
    {% if error %}{{error}}{%endif%}
    <form method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <nav>
        <input class="navbutton" type="submit" value="Save" />
        <input class="navbutton" type="submit" value="Mix Sheet" name="list" />
        <button class="navbutton displaynone-s displaynone-m"><a class="nostyle block" href="{% url 'pigs:pen' pigpen %}">Back</a></button>
        </nav>
    </form>

</body>
</html>