<!DOCTYPE html>
{% load appfilters %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pigs/Generalstyles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'pigs/rationviewstyles.css'%}" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width maximum-scale= 1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transluscent">
     <meta name="mobile-web-app-capable" content="yes">
    <script>

$( document ).on("click","a",
             function( event ){
                event.preventDefault();
                var url = $( event.target ).attr( "href" );
                if (url === undefined) {
                     location.href = $( event.target ).parent().attr( "href" );
                }
                else {
                    location.href = url
                }
             }
    );</script>
    <title></title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
      <script>
        $(document).ready(function () {
            $('.fixedtable').bind('change', function (event) {
                $.ajax({ 
                    data: $('.rationform').serialize(), 
                    type: "get", 
                    dataType: "html",
                    url: $('.rationform').data('action'),
                    success: function(data) {
                        $('div.mixsheet').html(data)
                    }
                });
            });
        })
    </script>
</head>
<body>
    <div class="headerwitharrow">
        <div class="displaynone">
            <i class="arrow"></i>
            <h2 class="arrowh"><a class="nostyle" href="{% url 'pigs:pen' pigpen %}">Pen {{pigpen}}</a></h2>
        </div>
      <h1>Change ration</h1>
    </div>
    <div class="formhide"></div>
    {% if error %}{{error}}{%endif%}
    <form class="rationform" data-action="{% url 'pigs:mixsheet' pigpen %}" method="post">
        {% csrf_token %}
        <table class="fixedtable">
            {{form.as_table}}
        </table>
        <nav>
        <input class="navbutton" type="submit" value="Save" />
        <button class="navbutton displaynone-s displaynone-m"><a class="nostyle block" href="{% url 'pigs:pen' pigpen %}">Back</a></button>
        <button class="navbutton"><a class="nostyle block" href="{% url 'pigs:deleteration' pigpen rationid %}">Delete</a></button>
        </nav>
        <div class="navhide"></div>
    
        <div class="mixsheet"></div>
        <script>
            $.ajax({ 
                    data: $('.rationform').serialize(), 
                    type: "get", 
                    dataType: "html",
                    url: $('.rationform').data('action'),
                    success: function(data) {
                        $('div.mixsheet').html(data)
                    }
            })
        </script>
    </form>

</body>
</html>