body
{
}
.chart{
    position:relative;
    top:60px;
}
#penselect {
    position:relative;
    top:50px;
}
#dateselect {
    position: relative;
    top: 50px;
    left:30px;
}
h3{
    text-align:center;
}