body
{
}
form {
    position:fixed;
    top:70px;
    left:8%;
    font-size:1.2em;
}
.button {
    position:relative;
    top:15px;
    left:5%;
    width:30%;
}

table input {
    width:30vmin;
    margin-top:5px;
    margin-left:5px;
}
#id_ration {
    display:block;
    margin-left:5px;
    height:90%;
}
#id_date, #id_ration_amount{
    width:90%;
    height:90%;
}
label {
    height:90%;
}
td {
    height:25px;
}
