
@media screen and (max-width: 400px) {
    /* For phone: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
    .displaynone-s {
        display:none;
    }
}
@media screen and (min-width: 400px) and (max-width:767px) {
    /* For tablets: */
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
    .displaynone-m {
        display:none;
    }
}
@media screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
     .displaynone{
        display:none;
    }
}
a.nostyle {
    text-decoration:none;
    color:black;
    cursor:pointer;
    display:block;
}
a.nostyle:active{
    color:black;
}
a.block {
    display:block;
    height:100%;
    width:100%;
}
table.border {
    border:1px solid black;
}
table.border th, table.border td {
    border:1px solid black;
}
table.tablescroll {
    margin-top:60px;
}

.stickyhead tbody, .stickyhead thead {
    display:block;
}
.stickyhead tbody {
    overflow:auto;
    height:calc(100% - 70px);
}
.container{
    overflow-y:auto;

}
.arrow {
        position:relative;
        top:7.5px;
        border: solid black;
        border-width: 0 0 3px 3px;
        left:3px;
        padding:5.5px;
        transform: rotate(45deg);
        float:left;
        border-color:brown;
       
    }

.arrowh {
    position:relative;
    top:-19px;
    left:4px;
    float:left;
    
}
.arrowh a {
    color:brown;
    
}
.arrowh a:active{
    color:brown;
}
.arrowh a:focus{
    outline:none;
}
.headerhide{
    background:white;
    position:fixed;
    right:0;
    left:0;
    top:0;
    height:50px;
    z-index:3;
}
.headerwitharrow {
    position:fixed;
    width:100%;
    height:40px;
    display:block;
    top:10px;
    z-index:4;
}
.headerwitharrow h1{
   
    text-align:center;
    font-size:25px;
    white-space:nowrap;
    width:100%;
    margin:0 5px 0 5px;
}
nav {
    position:fixed;
    bottom:10px;
    right:10px;
    left:10px;
    height:30px;
    background-color:white;
    border:1px solid black;
    z-index:99;
    line-height:30px;
    display:inline-block;
    padding-right:5px;
}
nav .navbutton {
    position:relative;
    vertical-align:middle;
    left:5%;
    width:30%;
}
.navhide{
    
    position:fixed;
    background-color:white;
    height:60px;
    bottom:0;
    z-index:98;
    right:5px;
    left:5px;
}