body, html{
    overflow:hidden;
   
    height:100%;
}
table, th, td {
    border:1px solid black;
    cursor:default;
    font-size:3vw;
}
td {
  
    text-align:center;
    transition:all 1s ease-in-out;
}
td.overflow {
    
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width:8ch;
}
td.overflow:hover, td.overflow:active {
    overflow:visible;
    white-space:normal;
    
}
div.nohover {
    display:none;
}
td.hovertd:hover div.nohover, td.hovertd:active div.nohover{
    display:block;
}
td.hovertd:hover div.hover, td.hovertd:active div.hover {
    display:none;
}
.tablewrapper{
    position:relative;
    height:100%;
}
.tablescroll{
    
    height: calc(100% - 150px);
    overflow:auto;
    margin-top:50px;
}
