table,th, td{
    font-size:4vmin;
    cursor:default;
}
body, html {
    overflow:hidden;

}

.tablewrapper {
    position: relative;
    height: 100%;
}

.tablescroll {
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: auto;
    margin-top: 50px;
    overflow-x: hidden;
    padding-right: 27px;
}
td.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 8ch;
}

    td.overflow:hover, td.overflow:active {
        overflow: visible;
        white-space: normal;
    }